.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Page {
  background-color: #fbeeca;
}

.Button {
  background-color: #007c89;
}

.Container {
  width: 80%;
  height: 200px;
  background-color: #fbeeca;
  margin: auto;
  padding: 10px;
}

.Logo {
  width: 15%;
  height: 200px;
  float: left;
}

.Buttons {
  margin-left: 15%;
  height: 100px;
}

.Results {
  text-align: center;
  padding-top: 10px;
  height: 50px;
}

div {
  color: black;
}